
@{
    ViewBag.Title = "Ruudukkotestiä";
}

<h2>Ruudukkotestiä</h2>

<button class="btn btn-info">Poista <span class="glyphicon glyphicon-trash"></span></button>
<p>&nbsp;</p>


<div class="row">
    <div class="col-md-3" style="background-color: blue;">
    Vasen sarake</div>
    <div class="col-md-3" style="background-color: yellow;">
    Keskisarake</div>
    <div class="col-md-3" style="background-color: red;">
    Oikea sarake</div>
</div>

<div class="row">
    <div class="col-md-3" style="background-color: orange;">
        Vasen sarake 2
    </div>
    <div class="col-md-3" style="background-color: green;">
        Keskisarake 2
    </div>
    <div class="col-md-3" style="background-color: deeppink;">
        Oikea sarake 2
    </div>
</div>


